/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Rosarivo:ital@0;1&display=swap');

/*CSS FOR MOBILE*/
html {
    font-size: 10px;
}

body {
    font-family: Rosarivo;
}

header{
    background-color: white;
    box-shadow: 0 0 10px #777777;
}

.navbar {
    padding: 2.4rem 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.nav li {
    padding-left: 10px;
    font-size: 1.8rem;
    line-height: 25px;
    color: #000000;
}

ul a {
    text-decoration: none;
}

.contact {
    display: none;
}

.main {
    padding: 3rem 3rem 5rem 3rem;
}

.hero {
    width: 100%;
    text-align: center;
}

.call {
    font-size: 3.8rem;
    line-height: 53px;
}

.button {
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 1.4rem;
    line-height: 1.6rem;  
    padding: 1rem 1.6rem;
    margin-bottom: 1.6rem;
}

.image_hero img {
    width: 100%;
    box-sizing: border-box;
}

.section_lunch {
    padding-top: 3rem;
}

.text_lunch {
    font-size: 3.4rem;
    line-height: 34px;
    padding-bottom: 3rem;
}
.lunch_all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card_lunch {
    width: 150px;
    margin-left: 2rem;
    margin-bottom: 2rem;
    min-height: 260px;
    border-radius: 10px;
    box-shadow: 0 0 10px #777777;
    overflow: hidden;
}

.card_figure {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.card_image {
    width: 100%;
}

.card_header {
    padding: 1.5rem .5rem .8rem .5rem;
}

.card_title {
    font-style: italic;
    line-height: 13px;
}

.card_body {
    padding: .8rem .3rem .8rem .8rem;
}

.card_copy {
    text-align: left;
    line-height: 13px;
}

/*CSS FOR DESKTOP*/
@media screen and (min-width: 769px) {
    .nav li {
        padding-left: 10px;
        font-size: 3rem;
        line-height: 42px;
    }

    .contact {
        display: block;
    }

    .call {
        font-size: 7.2rem;
        line-height: 101px;
    }

    .main {
        padding: 6.5rem 9rem 14rem 9rem;
    }

    .hero {
        display: flex;
    }

    .text_action {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .image_hero {
        width: 60%;
    }

    .text_lunch {
        font-size: 5.4rem;
        line-height: 44px;
    }

    .card_lunch {
        width: 300px;
        min-height: 460px;
    }

    .card_title {
        font-size: 1.8rem;
        line-height: 24px;
    }

    .card_copy {
        text-align: left;
        font-size: 1.8rem;
        line-height: 28px;
    }
}